<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='../static/menu.css'/>
  </head>
  <body>
    <h1>Atividades</h1>
    <p>
      <a class="button grey" href="/Activities/A1">Atividade 1 - A batalha 👮‍♂️</a>
      <a class="button grey" href="/Activities/A2">Atividade 2 - Histórias de José 👦</a>
	  <a class="button grey" href="/Activities/A3">Atividade 3 - Dança 💃</a>
	  <a class="button grey" href="/Activities/A4">Atividade 4 - Cantar 🎵</a>
	  <a class="button grey" href="/Activities/A5">Atividade 5 - Histórias narrativas 📢</a>
	  <a class="button grey" href="/Activities/A6">Atividade 6 - Conversação 🤪</a>
	  <a class="button grey" href="/Activities/A7">Atividade 7 - Abraços 💕</a>
    </p>
    <a class="button grey" href="/">Menu</a
  </body>
</html>
