	<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href='../static/mainMenu.css'/>
  </head>
  <body>
  <h1>CASTOR Robot</h1>
  <p><b>Hola! Soy el Robot CASTOR</b></p>
  <p><b>Bienvenido al Menú de Operación</b></p>
  <p><b>Estudio implementación robot CASTOR en sesiones grupales</b></p>
  <p>
    <a class="button grey" href="/greet">Saludar</a>
	<a class="button grey" href="/presentation1">Presentacion CASTOR</a>
    <a class="button grey" href="/lets_go">Vamos a jugar</a> 
  </p>
  <p>
    <a class="button grey" href="/bye">Despedirse 🙋‍♂️</a>
    <a class="button grey" href="/bye2">Despedirse 🙋‍♀️‍</a>
	<a class="button grey" href="/byeamigos">Despedirse amigos‍</a>
  </p>
  <p>
    <a class="button grey" href="/final">Eso es todo por hoy</a>
    <a class="button grey" href="/thanks">Gracias por jugar conmigo</a>
    <a class="button grey" href="/happyday">Que tengas un lindo dia</a>   
  </p>
  <p>
    <a class="button grey" href="/hifiveinstruction">Decir choca los 5</a>
    <a class="button grey" href="/highfive">Choca los 5</a>
    <a class="button grey" href="/bajar_brazo">Bajar brazo</a>
  </p>
  <h2>Actividades portugués:</h2>
  <p>
	<a class="button grey" href="/Activities">Actividades</a>
  </p>

  <h2>Sistema:</h2>
  <p>
    <a class="button grey" href="/shutdown">Apagar 📴</a>
	<a class="button grey" href="/reboot">Reiniciar 🔄</a>
  </p>
  </body>
</html>
